button,
.btn,
input[type="submit"] {
  padding: 1rem;
  cursor: pointer;
  border: none;
  border: $light-color;
  border-radius: 4px;
}

.button {
  padding: 1.2rem 3.2rem;
  font-size: 1.4rem;
  background-color: $green;
  color: $white-color;

  &__logout {
    background: $green;
    font-size: inherit;
    padding: 1rem 1.8rem;
    border-radius: 4px;
    cursor: pointer;

    & .ion-log-out,
    & a {
      color: $white !important;
    }
  }

  @media (max-width: 576px) {
    width: 100%;
  }

  &__sub {
    color: $white;
    background: $orange;
  }
}
