$bg-color: #f3f6f9;
$bg-dark: #0f2d38;
$dark-bg: #14222b;
// $green: #f59d63;
// $green: #343a40;
// $green: #ff6c3a;
// $green: #dc3545;
$green: #00ad76;
$secondary-color: #266cfb;
$text-color: #757575;
$light-color: #dbdada;
$white-color: #fff;
$primary-color: #f8f8f8;
$primary: #f8f8f8;
// $primary: #272c3c;
$secondary: #f8f8f8;
// $secondary: #30384a;
$orange: #f47d15;
$red: #f25961;
$border-color: rgba(167, 130, 233, 0.06);
$border: 1px solid #ebebeb;
$shadow: 0rem 0.1rem 0rem 0rem rgba(0, 0, 0, 0.2);
$shadow2: 0rem 1rem 3rem rgba(0, 0, 0, 0.2);
$shadow3: 0px 5px 25.5px 4.5px rgb(0 0 0 / 10%);

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
// $orange: #fd7e14;
$yellow: #ffc107;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #626262;
$gray-dark: #343a40;
$primary: #007bff;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
